@font-face {
    font-family: "Pangea";
    font-weight: normal;
    src: url("fonts/pangea/PangeaAfrikan-Regular.otf") format("otf"),
    url("fonts/pangea/PangeaAfrikan-Regular.otf") format("otf");
}

@font-face {
    font-family: "West";
    font-weight: bold;
    src: url("fonts/West/West-Bold.otf") format("otf"),
    url("fonts/West/West-Bold.otf") format("otf");
}

* {
	box-sizing: border-box;
}


  body {
    font-family: "West", sans-serif;
  }

  button {
	cursor: pointer;
}